@model GetDestinationByIDQueryResult
@{
    ViewData["Title"] = "GetDestination";
    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";
}

<div class="card">
    <h3 class="card-header">Rota Düzenleme Alanı</h3>
    <div class="card-body">
        <form method="post">
            @Html.HiddenFor(x => x.DestinationID)
            <label>Şehir:</label>
            <input placeholder="Şehir.." type="text" class="form-control" asp-for="City" />
            <br />
            <label>Gün/Gece:</label>
            <input placeholder="Gün/Gece.." type="text" class="form-control" asp-for="DayNight" />
            <br />
            <label>Fiyat:</label>
            <div class="input-group input-group-merge col-6">
                <span class="input-group-text">$</span>
                <input placeholder="Fiyatı.." type="number" class="form-control" asp-for="Price" />
            </div>
            <br />
            <button type="submit" class="btn btn-outline-success">Bilgileri Güncelle</button>
        </form>
    </div>
</div>