@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";
}

<div class="card">
    <h3 class="card-header">ISM Traversal | Excel Raporları</h3>
    <div class="card-body">
        <a href="/Excel/DatabaseExcelReport/" class="btn btn-outline-primary">Tur Rotaları Excel Raporları</a>
    </div>
</div>

