<ul class="menu-inner py-1">
    <!-- Dashboard -->
    <li class="menu-item">
        <a href="/Admin/Dashboard/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-home-circle"></i>
            <div data-i18n="Analytics">Dashboard</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bx bxs-map-alt"></i>
            <div>Rota İşlemleri</div>
        </a>
        <ul class="menu-sub">
            <li class="menu-item">
                <a href="/Admin/Destination/Index/" class="menu-link">Tur Rotaları</a>
            </li>
            <li class="menu-item">
                <a href="/Admin/DestinationCQRS/Index/" class="menu-link">CQRS Tur Rotaları</a>
            </li>
        </ul>
    </li>
    <li class="menu-item">
        <a href="/Admin/Comment/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-comment"></i>
            <div data-i18n="Analytics">Yorumlar</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/User/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bxs-user"></i>
            <div data-i18n="Analytics">Kullanıcılar</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bx bx-group"></i>
            <div>Rehber İşlemleri</div>
        </a>
        <ul class="menu-sub">
            <li class="menu-item">
                <a href="/Admin/Guide/Index/" class="menu-link">Rehberlerimiz</a>
            </li>
            <li class="menu-item">
                <a href="/Admin/GuideMediatR/Index/" class="menu-link">MediatR - Rehberler</a>
            </li>
        </ul>
    </li>
    <li class="menu-item">
        <a href="/Admin/ContactUs/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-envelope"></i>
            <div data-i18n="Analytics">Mesajlar</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/Announcement/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-bell"></i>
            <div data-i18n="Analytics">Duyurular</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/API/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-aperture"></i>
            <div data-i18n="Analytics">API Veri Çekme</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bx bxl-jquery"></i>
            <div>AJAX İşlemler</div>
        </a>
        <ul class="menu-sub">
            <li class="menu-item">
                <a href="/Admin/City/Index/" class="menu-link">AJAX Şehir İşlemleri</a>
            </li>
        </ul>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class='menu-icon tf-icons bx bxs-crown bx-tada'></i>
            <div data-i18n="Analytics">Öne Çıkanlar</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/Mail/MailOperations/" class="menu-link">
            <i class='menu-icon tf-icons bx bx-detail'></i>
            <div data-i18n="Analytics">Mail İşlemleri</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Reports/Index/" class="menu-link">
            <i class='menu-icon tf-icons bx bxs-report'></i>
            <div data-i18n="Analytics">Raporlar</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-user-check"></i>
            <div data-i18n="Analytics">Referanslar</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-detail"></i>
            <div data-i18n="Analytics">Alt Hakkında</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-compass"></i>
            <div data-i18n="Analytics">Rezervasyonlar</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bxs-key"></i>
            <div data-i18n="Analytics">Şifre İşlemleri</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-diamond"></i>
            <div data-i18n="Analytics">Rol İşlemleri</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/Account/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bxs-user-account"></i>
            <div data-i18n="Analytics">Unit of Work Hesap İşlemleri</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Login/LogOut/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-log-out"></i>
            <div data-i18n="Analytics">Çıkış Yap</div>
        </a>
    </li>
</ul>