@{
    ViewData["Title"] = "MailOperations";
    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";
}

<div class="card">
    <h3 class="card-header">ISM Traversal | Mail</h3>
    <div class="card-body">
        <h4 class="text-primary">Mail Sayfasını Seçiniz</h4>
        <div class="btn-group">
            <a href="#" class="btn btn-outline-primary">
                <i class='bx bxs-envelope'></i>
                Gelen Mailler
            </a>
            <a href="#" class="btn btn-outline-success">
                <i class='bx bx-mail-send'></i>
                Gönderilmiş Mailler
            </a>
            <a href="/Admin/Mail/Index/" class="btn btn-info">
                <i class='bx bx-message-add'></i>
                Mail Oluştur
            </a>
        </div>
    </div>
</div>