
<div class="col-6 mb-4">
    <div class="card">
        <div class="card-body">
            <div class="card-title d-flex align-items-start justify-content-between">
                <div class="avatar flex-shrink-0">
                    <img src="~/sneat-1.0.0/assets/img/icons/unicons/passport.png" alt="Credit Card" class="rounded" />
                </div>
                <div class="dropdown">
                    <button class="btn p-0"
                            type="button"
                            id="cardOpt4"
                            data-bs-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                        <i class="bx bx-dots-vertical-rounded"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="cardOpt4">
                        <a class="dropdown-item" href="javascript:void(0);">View More</a>
                        <a class="dropdown-item" href="javascript:void(0);">Delete</a>
                    </div>
                </div>
            </div>
            <span class="d-block mb-1">Toplam Tur Rotası</span>
            <h3 class="card-title text-nowrap mb-2">@ViewBag.v1</h3>
        </div>
    </div>
</div>
<div class="col-6 mb-4">
    <div class="card">
        <div class="card-body">
            <div class="card-title d-flex align-items-start justify-content-between">
                <div class="avatar flex-shrink-0">
                    <img src="~/sneat-1.0.0/assets/img/icons/unicons/users.png" alt="Credit Card" class="rounded" />
                </div>
                <div class="dropdown">
                    <button class="btn p-0"
                            type="button"
                            id="cardOpt1"
                            data-bs-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false">
                        <i class="bx bx-dots-vertical-rounded"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="cardOpt1">
                        <a class="dropdown-item" href="javascript:void(0);">View More</a>
                        <a class="dropdown-item" href="javascript:void(0);">Delete</a>
                    </div>
                </div>
            </div>
            <span class="fw-semibold d-block mb-1">Toplam Kayıtlı Kullanıcı</span>
            <h3 class="card-title mb-2">@ViewBag.v2</h3>
        </div>
    </div>
</div>
<!-- </div>
<div class="row"> -->
