@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminDashboardLayout.cshtml";
}

<div class="card">
    <h3 class="card-header">PDF Raporlama Sayfası</h3>
    <div class="card-body">
        <a href="/PDF/StaticPDFReport/" class="btn btn-outline-secondary">Static PDF Raporu</a>
        <a href="/PDF/StaticCustomerReport/" class="btn btn-outline-secondary">Static Müşteri PDF Raporu</a>
    </div>
</div>