@using EntityLayer.Concrete
@model List<Destination>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserDashboardLayout.cshtml";
}

<div class="card">
    <h3 class="card-header">Aktif Tur Rotalarımız</h3>
    <div class="card-body">
        <table class="table table-hover">
            <tr>
                <th>#</th>
                <th>Şehir</th>
                <th>Süre</th>
                <th>Kapasite</th>
                <th>Fiyat</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.DestinationID</td>
                    <td>@item.City.CityName</td>
                    <td>@item.DayNight</td>
                    <td>@item.Capacity</td>
                    <td>$@item.Price</td>
                    <td><a href="/Destination/DestinationDetails/@item.DestinationID" class="btn btn-secondary">Ayrıntılar</a></td>
                </tr>
            }
        </table>
    </div>
</div>
